{{set . "title" "Login"}}
{{append . "moreStyles" "lobby.css"}}
{{template "header.html" .}}

<body>
    <div id="top-bar">
        <h1>Convorse</h1>
        <h2 class="center-text">Messaging Reimagined for ComputerCraft</h2>
    </div>
    <div class="container">
        <h3 class="center-text">Welcome back</h3>
        <form class="form-horizontal" role="form" action="home" method="post">
            <div id="form-area" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="form-group form-group-lg">
                    <input type="text" value="" placeholder="Username" name="username" class="form-control" required>
                </div>
                <div class="form-group form-group-lg">
                    <input type="password" value="" placeholder="Password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-lg btn-info btn-fill" value="Login">
                </div>
                <div class="form-group">
                    <a id="register" href="register">Need an account?</a><br>
                    <a id="forgot" href="forgot">Forgot your password?</a>
                </div>
            </div>
        </form>
    </div>
    <footer>
        <hr>
        <small>Made with <span class="glyphicon glyphicon-heart"></span> by 1lann, MagneticHamster and GravityScore</small><br>
        <small id="fork-me"><a href="https://github.com/1lann/Convorse" target="_blank">Fork me on GitHub</a></small>
    </footer>
</body>
</html>
