{{set . "title" "Register"}}
{{append . "moreStyles" "lobby.css"}}
{{template "header.html" .}}

<body>
    <div id="top-bar">
        <div id="title-container">
            <h1>Convorse</h1><p id="version">alpha</p>
        </div>
        <h2 class="center-text">Messaging Reimagined for ComputerCraft</h2>
    </div>

    {{if .errors}}
    <div class="alert alert-danger">
        {{range $i, $e := .errors}}
        <p id="error-message">{{$e}}</p>
        {{end}}
    </div>
    {{end}}

    <div class="container">
        <h3 class="center-text">Register a new account</h3>
        <form class="form-horizontal" role="form" action="/register" method="post">
            <div id="form-area" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="form-group form-group-lg">
                    <input type="text" value="{{.flash.a_username}}" placeholder="Username" class="form-control {{errorClass "a_username" .}}" name="a_username" required>
                    {{if .errors.a_username}}<i class="glyphicon glyphicon-remove form-control-feedback"></i>{{end}}
                </div>
                <div class="form-group form-group-lg">
                    <input type="password" value="" placeholder="Password" name="b_password" class="form-control {{errorClass "b_password" .}}" required>
                    {{if .errors.b_password}}<i class="glyphicon glyphicon-remove form-control-feedback"></i>{{end}}
                </div>
                <div class="form-group form-group-lg">
                    <input type="password" value="" placeholder="Password Again" name="c_password_again" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-lg btn-info btn-fill" value="Register">
                </div>
                <div class="form-group">
                    <a href="/">Already have an account?</a>
                </div>
            </div>
        </form>
    </div>
    <footer>
        <hr>
        <small>Made with <span class="glyphicon glyphicon-heart"></span> by 1lann and MagneticHamster</small><br>
        <small id="fork-me"><a href="https://github.com/1lann/Convorse" target="_blank">Fork me on GitHub</a></small>
    </footer>
</body>
</html>
