//out: lobby.css

body {
	.form-group-lg {
		input {
			font-size: 20px;
			height: 50px;

			&:focus {
				border-color: #2C93FF;
			}
		}
	}
}

#top-bar {
	padding-bottom: 31px;
	padding-top: 1px;

	background-color: #2C93FF;
	color: #fff;
	text-align: center;

	margin-bottom: 20px;

	h1 {
		margin-top: 25px;
		font-weight: 500;
	}

	h2 {
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 0px;
	}
}

.container {
	.center-text {
		text-align: center;
	}

	h3 {
		margin-bottom: 25px;
		font-weight: 300;
	}

	a {
		font-size: 16px;
	}

	#forgot {
		display: inline-block;
		margin-top: 5px;
	}
}
