body .form-group-lg input,
body .form-group-lg select {
  font-size: 16px;
  height: 50px;
}
body .form-group-lg input:focus,
body .form-group-lg select:focus {
  border-color: #2C93FF;
}
body .form-group-lg input.hasError,
body .form-group-lg select.hasError {
  border-color: #FF3B30 !important;
}
body .form-group-lg select {
  font-size: 16px;
}
body .form-group-lg .form-control-feedback {
  position: relative;
  float: right;
  top: -25px;
  right: 15px;
  line-height: 0px;
}
body .form-group-lg i.glyphicon {
  font-size: 18px;
  color: #FF3B30;
}
.alert #error-message {
  text-align: center;
  font-weight: bold;
}
#top-bar {
  padding-bottom: 31px;
  padding-top: 1px;
  background-color: #2C93FF;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
#top-bar h1 {
  text-align: left;
  margin-top: 25px;
  font-weight: 500;
  width: auto;
  display: inline;
}
#top-bar h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
#top-bar #version {
  font-size: 16px;
  display: inline;
  position: relative;
  bottom: 25px;
}
#top-bar #title-container {
  margin-top: 20px;
}
.container .center-text {
  text-align: center;
}
.container h3 {
  font-weight: 300;
  margin-bottom: 20px;
}
.container .subheading {
  font-weight: 400;
}
.container #note {
  color: #999999;
}
